Мы создаем веб-приложение для управления объектами в Axenta CRM.
Когда пишешь код будь на 100% уверен, что ты не ломаешь ничего существующего.
Данные для SSH на продакшен сервер ssh root@194.87.143.169 пароль: g-t+XM#3an2YJM
Token для API: 5e515a8f2874fc78f31c74af45260333f2c84c35